.container{
    max-width: 100%;
    padding: 10px;
}
.wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(141, 97, 185, 0.1);
}
.wrapper .title{
    height: 90px;
    background: #5D3891;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
}
.title-text {
    text-align: right;
    padding-left: 10%;
    padding-top: 1.2rem;
}
.user {
    margin-left: 20px;
}