<!-- <div class="container">
    <div class="wrapper">
        <div class="title">
            <span class="title-text">Homer-book</span>
            <div class="user">                
                <button (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top px-3" style="background-color: #5D3891;">
    <a class="navbar-brand border rounded px-2" style="color: #5D3891; background-color: #fff; font-weight: 700;"><i class="bi bi-chat-heart"></i>
        Homer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">-----</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">-----</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cursor-pointer" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>