<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
</head>
<!--Coded With Love By Mutiullah Samim-->

<body>
    <div class="container-fluid h-100 full-chat">
        <div class="row h-100 w-100 mr-0 ml-0 px-0">
            <div class="chat col-4 mr-0 ml-0 px-2">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-header">
                        <!-- <div class="input-group">
                            <input type="text" placeholder="Search..." name="" class="form-control search">
                            <div class="input-group-prepend">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                        </div> -->
                    </div>
                    <div class="card-body contacts_body">
                        <ul class="contacts" *ngFor="let user of chatUsers">
                            <li [ngClass]="user._id === currentChat.userId ? 'active': ''">
                                <div class="d-flex bd-highlight cursor-pointer" (click)="getMessages(user)">
                                    <div class="img_cont">
                                        <img src="../../../../../assets/images/_D.jpg" class="rounded-circle user_img"
                                            [ngClass]="user.isLoggedIn ? 'b-green' : 'b-red'">
                                        <!-- <span class="online_icon" [ngClass]="user.isLoggedIn ? '' : 'offline'"></span> -->
                                    </div>
                                    <div class="user_info">
                                        <span>{{(user.name | titlecase) || '-'}}</span>
                                        <p *ngIf="user.lastMessage?.message">{{user.lastMessage?.message?.slice(0,15) +
                                            (user.lastMessage?.message?.length > 15 ? '...' : '') || ''}}<i>&nbsp; -
                                                &nbsp;{{ user.lastMessage?.createdAt | date: 'medium'}}</i></p>
                                    </div>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg"
                                            class="rounded-circle user_img">
                                        <span class="online_icon offline"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>Taherah Big</span>
                                        <p>Taherah left 7 mins ago</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="https://i.pinimg.com/originals/ac/b9/90/acb990190ca1ddbb9b20db303375bb58.jpg"
                                            class="rounded-circle user_img">
                                        <span class="online_icon"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>Sami Rafi</span>
                                        <p>Sami is online</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="http://profilepicturesdp.com/wp-content/uploads/2018/07/sweet-girl-profile-pictures-9.jpg"
                                            class="rounded-circle user_img">
                                        <span class="online_icon offline"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>Nargis Hawa</span>
                                        <p>Nargis left 30 mins ago</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="https://static.turbosquid.com/Preview/001214/650/2V/boy-cartoon-3D-model_D.jpg"
                                            class="rounded-circle user_img">
                                        <span class="online_icon offline"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>Rashid Samim</span>
                                        <p>Rashid left 50 mins ago</p>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="chat msg-body col-8 mr-0 ml-0 px-2">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="../../../../../assets/images/_D.jpg" class="rounded-circle user_img"
                                    [ngClass]="currentChat.isLoggedIn ? 'b-green' : 'b-red'">
                                <!-- <span class="online_icon" [ngClass]="currentChat.isLoggedIn ? '' : 'offline'"></span> -->
                            </div>
                            <div class="user_info">
                                <span>{{currentChat.name | titlecase}}</span>
                                <p><i *ngIf="currentChat.messages?.length">{{currentChat.messages?.length || 0}}
                                        Message(s)</i>
                                    &nbsp; &nbsp; <b
                                        [ngClass]="currentChat.isLoggedIn ? 't-green' : 't-red'">{{!currentChat.isLoggedIn
                                        ? 'Offline' : 'Online'}}</b></p>
                            </div>
                            <!-- <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                                <span><i class="fas fa-phone"></i></span>
                            </div> -->
                        </div>
                        <!-- <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="card-body msg_card_body" #content>
                        <ng-container #messages *ngFor="let chat of currentChat.messages">
                            <div class="d-flex justify-content-end mb-4"
                                *ngIf="chat.sender === mainService.user.userId">
                                <div class="msg_cotainer_send">
                                    {{chat.message}}
                                    <!-- <span class="msg_time_send">{{chat.createdAt}}</span> -->
                                </div>
                                <div class="img_cont_msg">
                                    <img src="../../../../../assets/images/_D.jpg" class="rounded-circle user_img_msg">
                                </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4"
                                *ngIf="chat.receiver === mainService.user.userId">
                                <div class="img_cont_msg">
                                    <img src="../../../../../assets/images/_D.jpg" class="rounded-circle user_img_msg">
                                </div>
                                <div class="msg_cotainer">
                                    {{chat.message}}
                                    <!-- <span class="msg_time">{{chat.createdAt}}</span> -->
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="card-footer">
                        <form [formGroup]="chatForm">
                            <div class="input-group shadow-drop-center">
                                <!-- <div class="input-group-append">
                                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                                </div> -->
                                <textarea name="message" type="text" class="form-control type_msg"
                                    placeholder="Type your message..." formControlName="message"
                                    (keydown)="handleSendMessage($event)" #sendMsg></textarea>
                                <div class="input-group-append">
                                    <span class="input-group-text send_btn" (click)="sendMessage()"><i
                                            class="fas fa-location-arrow"></i></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>