<h1 class="h1 text-center">Users</h1>
<br>
<hr>
<table class="table table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Sl.No.</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Created At</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <ng-container  *ngFor="let user of users; let i=index">
            <tr>
                <td scope="row">{{i+1}}</td>
                <td scope="row" [ngClass]="user.isLoggedIn ? 'table-success' : 'table-danger'">{{user.name}}  <i class="bi bi-chat cursor-pointer"></i></td>
                <td scope="row">{{user.username}}</td>
                <td scope="row">{{user.email}}</td>
                <td scope="row">{{user.createdAt | date: 'mediumDate'}}</td>
                <td scope="row">
                    <div class="form-check form-switch">
                        <input class="form-check-input cursor-pointer" type="checkbox" role="switch" id="userStatus" (click)="updateUser(user)" [disabled]="user._id === mainService.user.userId || mainService.user.userType !== 'management'" [checked]="user.status ==='active' ? true : false">
                    </div>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>